body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    
}
#hq{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 80%;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 900px;
    background-image: linear-gradient(orange,pink);
    padding: 10px 40px;
    border-radius: 5px;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ORG{
    color:  orange;
}
.exp2{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 30px 30px gray;
    border-left: 7px solid purple;
    
}  
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left top;

}
footer {
    text-align: center;
}
