body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    
}
#hq{
    color: orange;
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 80%;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 900px;
    background-image: linear-gradient(orange,pink);
    padding: 10px 40px;
    border-radius: 5px;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}